body{
    background-color: #F4F3EE;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #E0AFA0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#current-user-container{
    display: flex;
    width: 300px;
    border: 5px solid #8A817C;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: larger;
    padding: 5px;
}
#pet-add-container{
    width: auto;
}

.disabled{
    display:none;
}

.pet-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    gap: 5px;
    color: #8A817C;
    border: 5px solid ;
    border-radius: 15px;
    padding: 5px;
}

button{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.form-container{
    justify-content: center;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 500px;
    padding: 15px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

ul li{
    border: 5px solid;
    border-radius: 15px;
    padding: 5px;
}